.renderer-root {
    font-family: monospace;
    font-size: 12pt;
}

span.keyword {
    margin: 0 0.5em;
}

span.keyword:first-child {
    margin-left: 0;
}

span.operator {
    margin: 0 0.5em;
}

span.comma {
    margin-right: 0.5em;
}

span.if-body > *:not(.block-statement) {
    display: block;
    margin-left: 2em;
}

div.cases-wrapper {
    margin-left: 2em;
}

div.function-body {
    margin-left: 2em;
}

div.case-body {
    margin-left: 2em;
}

div.block-body {
    margin-left: 2em;
}

div.object-body {
    margin-left: 2em;
}

.export-named-declaration > .variable-declaration,
.for-statement > .variable-declaration {
    display: inline;
}

/* vim: set ts=4 sw=4 et: */
